{% extends 'base.html' %}
<body>
{% block content %}
<div class="container">
    <title>Подписки</title>
    <br>
    <h1>Подписки</h1>
    {% include 'includes/switcher.html' %}
    {% if page_obj %}
    {% for post in page_obj %}
    {% include 'includes/post.html' %}
    {% if post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endfor %}
    {% else%}
    <div class="container">
    <center>
        <p class="text-muted" style="font-size: 250%" >Нет подписок</p>
    </center>
    </div>
    {% endif %}
    {% include 'includes/paginator.html' %}
    {% endblock %}
</div>

